*{
    box-sizing: border-box;
    font-family: sans-serif;
}
button{
    margin: 5px;
    background: #11E6FF;
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#115673, aqua);
}
.container-grid{
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-rows: minmax(120px,auto)  repeat(5, 100px);
    grid-template-columns: repeat(4,100px);
}

.container-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 20%;
    outline: none;
}
button:hover{
    background-color: white;
}

.span-two-column{
    grid-column:span 2;
}
.span-two-row{
    grid-row:span 2;
}

.display{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.previous-operand{
    color: white;
    font-size: 1.5em;
}
.current-operand{
    color: white;
    font-size: 3em;
}
.yellow{
    background-color: #11E6B3;
}

#delete{
    background-color: #1156B3;
}
#delete:hover{
    background-color: white;
}
